META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=https://ads-backend-ivrx.onrender.com/auth/meta/callback
META_AD_ACCOUNT_ID=

TIKTOK_APP_ID=
TIKTOK_APP_SECRET=
TIKTOK_REDIRECT_URI=https://ads-backend-ivrx.onrender.com/auth/tiktok/callback
TIKTOK_ADVERTISER_ID=

PORT=3000
FRONTEND_URL=*
